<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/responsive.css">
    <title>IET Davv</title>
</head>

<body>
    <section class=" background firstSection">

        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big" >IET DAVV Student's Portal</p>
                <p class="text-small"></p>
                <div class="button">
                     <form action="accounts/register">
                    <button class="btn" >sign in</button>
                         </form>
                     <form action="accounts/login">
                    <button class="btn" >Log in</button>
                         </form>
                </div>
            </div>
        <div class="secondHalf">
            <img src="static/logo.png" alt="car image" width="333px">
        </div>
        </div>

    
    </section>
     

    <footer class="text-footer">
        copyright &copy;  All right reserved
    </footer>
    <script src="resp.js"></script>
 
</body>

</html>

